*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

body {
   font-size: 16px;
}

#app {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: var(--text-color);
   background-color: var(--app-bg-color);
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   user-select: none;
   --text-color: hsl(215, 57.5%, 60%);
   --snake-color: hsl(95, 57.5%, 60%);
   --food-color: hsl(335, 57.5%, 60%);
   --app-bg-color: hsl(215, 50%, 10%);
   --even-cell-color: hsl(215, 50%, 14%);
   --overlay-color: #00000055;
   --border-radius: 2vmin;
   --border-width: 0.75vmin;
}

.playground {
   width: 85vmin;
   height: 85vmin;
   border: solid var(--border-width) var(--text-color);
   border-radius: var(--border-radius);
   position: relative;
   top: -1vmin;
   flex-shrink: 0;
}

.playground__grid {
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius);
   overflow: hidden;
}

.playground__grid div {
   width: calc(100% / var(--playground-size));
   height: calc(100% / var(--playground-size));
   float: left;
}

.playground__grid div:nth-child(even) {
   background-color: var(--even-cell-color);
}


.main-screen {
   --gap: 4vmin;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: var(--overlay-color);
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
   border-radius: var(--border-radius);
   overflow: hidden;
}

.main-screen__logo {
   width: 100%;
   height: 14vmin;
   object-fit: contain;
   margin-bottom: var(--gap);
}

.main-screen__title {
   font-size: 6.5vmin;
   margin-bottom: var(--gap);

}

.main-screen__descr {
   width: 100%;
   font-size: 3vmin;
   margin-top: 5vmin;
   margin-bottom: var(--gap);
}

.main-screen button {
   font-size: 3.5vmin;
   font-weight: 700;
   text-align: center;
   text-transform: capitalize;
   padding: 2vmin 3vmin;
   background-color: transparent;
   border: solid var(--border-width) var(--text-color);
   border-radius: var(--border-radius);
   color: var(--text-color);
   transition: background-color 0.1s linear, color 0.1s linear;
   cursor: pointer;
}

.main-screen button:hover {
   background-color: var(--text-color);
   color: var(--app-bg-color);
}

.main-screen button:not(:last-child) {
   margin-right: var(--gap);
}


.score {
   margin-top: 2vmin;
   width: 100%;
   top: 100%;
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 3.5vmin;
   line-height: 1;
   text-transform: capitalize;
}

.countdown {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 24vmin;
   height: 24vmin;
   line-height: 24vmin;
   font-size: 6.5vmin;
   font-weight: 700;
}

.countdown:before {
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
   border-radius: 50%;
   border-top: solid var(--border-width) var(--text-color);
   animation: rotate var(--interval) infinite linear;
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.game-over {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 6.5vmin;
   font-weight: 700;
   color: var(--text-color);
   background-color: var(--overlay-color);
   border-radius: var(--border-radius);
   overflow: hidden;
}

.controls {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 2vmin;
   width: 45vmin;
   height: 45vmin;
   flex-shrink: 0;
}

.controls button {
   width: 100%;
   height: 100%;
   border-radius: var(--border-radius);
   background-color: var(--text-color);
   border: none;
}

.snake {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
}

.snake div {
   background-color: var(--snake-color);
   width: calc(100% / var(--playground-size));
   height: calc(100% / var(--playground-size));
   position: absolute;
   top: calc(100% / var(--playground-size) * var(--top));
   left: calc(100% / var(--playground-size) * var(--left));
   border-radius: var(--border-radius);
}

.snake div:not(:first-child) {
   filter: brightness(0.8);
}

.food {
   background-color: var(--food-color);
   border-radius: var(--border-radius);
   width: calc(100% / var(--playground-size));
   height: calc(100% / var(--playground-size));
   top: calc(100% / var(--playground-size) * var(--top));
   left: calc(100% / var(--playground-size) * var(--left));
   position: absolute;
}

.inactive {
   filter: saturate(0.5);
   opacity: 0.5;
}

@media (hover: none) {
   #app {
      gap: 1vmin;
      justify-content: space-evenly;
   }
}

@media (hover: none) and (max-width: 479.98px) {
}

@media (hover: none) and (orientation: landscape) {
   #app {
      flex-direction: row;
   }
}